<a href="https://colab.research.google.com/github/Pradnya19-98/projects/blob/main/Pythonpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello Pradnya")

Hello Pradnya

In [ ]:
name = "Pradnya"
Age = 26

In [ ]:
height =5.6

In [ ]:
x = 1.6
y = 5.6
print(type(x),type(y))

<class 'float'> <class 'float'>

In [ ]:
text = "hello Python"
print(text.upper())

HELLO PYTHON

In [ ]:

print(text.lower())

hello python

In [ ]:



print(text.split())

['hello', 'Python']

In [ ]:



Numbers = [1,2,3,4,5]
print(Numbers[0])
Numbers.append(6)
print(Numbers)

1
[1, 2, 3, 4, 5, 6]

In [ ]:
person = {"name": "Pradnya", "age": 26, "city": "Pune"}
print(person["name"])  # Access value by key

Pradnya

In [ ]:
coordinates = (10.5, 20.3)
print(coordinates[1])

20.3

In [ ]:
unique_numbers = {1, 2, 3, 3, 4}
print(unique_numbers)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [ ]:
a = 10
b = 3
print(a + b)  # Addition
print(a - b)  # Subtraction
print(a * b)  # Multiplication
print(a / b)  # Division
print(a % b)  # Modulus (remainder)
print(a ** b) # Exponentiation (power)

13
7
30
3.3333333333333335
1
1000

In [ ]:
print(a > b)   # Greater than
print(a < b)   # Less than
print(a == b)  # Equal to
print(a != b)  # Not equal to

In [ ]:
x = True
y = False
print(x and y)  # False
print(x or y)   # True
print(not x)    # False

In [ ]:
age = 26
if age > 18:
  print(" you are an adult")
else:
  print(" Not An Adult")

In [ ]:
# For Loop (Iterate Over a Sequence)

numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)  # Prints each number

In [ ]:
#For Loop with range()
for i in range(5):
  print(i)

In [ ]:
#While Loop (Execute Until Condition is False)
x = 0
while x < 5:
    print(x)
    x += 1  # Increment x

In [ ]:
#Loop Control Statements
for i in range (10):
  if i == 5:
    break
  if i == 3:
    continue
  print(i)

In [ ]:
#Defining and Calling a Function
def greet(name):
  return f"hello, {name}!"
  print(greet("Pradnya"))

In [ ]:
def add(a, b):
    return a + b

print(add(5, 3))  # Output: 8

In [ ]:
def greet(name="User"):
    return f"Hello, {name}!"

print(greet())         # Output: Hello, User!
print(greet("Pradnya"))  # Output: Hello, Pradnya!

In [ ]:
square = lambda x: x ** 2
print(square(5))  # Output: 25

add = lambda a, b: a + b
print(add(3, 4))  # Output: 7

In [ ]:
def check_even_odd(numbers):
    if numbers % 2 == 0:
        return "Even"
    else:
        return "Odd"

# Test the function
print(check_even_odd(10))  # Output: Even
print(check_even_odd(7))   # Output: Odd

In [ ]:
for i in range(1, 11):
    if i == 5:
        continue  # Skip 5
    print(i)

In [ ]:
#Declare and print variables
name = "Alice"
age = 25
print("Name:", name)
print("Age:", age)

In [ ]:
# Swap two variables without using a third variable
a = 5
b = 10

a, b = b, a  # Swapping
print("a =", a)
print("b =", b)

In [ ]:
#Convert integer to string
age = 25
message = "I am " + str(age) + " years old."
print(message)

In [ ]:
 #Area of a circle
 import math
radius = float(input("Enter radius: "))
area = math.pi * radius ** 2
print("Area of circle:", area)

In [ ]:
#Find the largest of three numbers
a, b, c = 10, 20, 15
largest = max(a, b, c)
print("Largest number:", largest)

In [ ]:
#Check if a number is positive, negative, or zero
num = int(input("Enter a number: "))

if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

In [ ]:
#FizzBuzz
for i in range(1, 21):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

In [ ]:
#Factorial of a number
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))

In [ ]:
#Find max and min in a list
numbers = [4, 7, 1, 9, 12]
print("Max:", max(numbers))
print("Min:", min(numbers))

In [ ]:
#Reverse a list

In [ ]:
numbers = [1, 2, 3, 4, 5]
reversed_list = numbers[::-1]
print(reversed_list)

In [ ]:
#Merge two dictionaries

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged = {**dict1, **dict2}
print(merged)

In [ ]:
#Count vowels in a string
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

print(count_vowels("Hello World"))

In [ ]:
# Check if a string is palindrome

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("madam"))  # True
print(is_palindrome("hello"))  # False

In [ ]:
#Exception Handling

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")

In [ ]:
import pandas as pd
import os

In [ ]:
from google.colab import files


uploaded = files.upload()

Saving ecommerce_sales.csv to ecommerce_sales.csv

In [ ]:
import pandas as pd
import io

df = pd.read_csv(io.BytesIO(uploaded['ecommerce_sales.csv'])) # Use the correct key 'ecommerce_sales.csv'
print(df)

   Order_ID        Date  Customer_ID     Category     Product  Quantity  \
0       101  2024-03-01            1  Electronics      Laptop         1
1       102  2024-03-02            2     Clothing     T-Shirt         2
2       103  2024-03-03            3  Electronics  Smartphone         1
3       104  2024-03-04            4         Home        Sofa         1
4       105  2024-03-05            5     Clothing       Jeans         3
5       106  2024-03-06            6         Home       Table         1
6       107  2024-03-07            7  Electronics  Headphones         2
7       108  2024-03-08            8     Clothing      Jacket         1
8       109  2024-03-09            9         Home        Lamp         4
9       110  2024-03-10           10  Electronics  Smartwatch         1

   Price  Total_Sales Payment_Method Delivery_Status
0    800          800    Credit Card       Delivered
1     20           40         PayPal         Pending
2    500          500    Credit Card       Delivered
3    300          300           Cash        Canceled
4     40          120    Credit Card       Delivered
5    150          150         PayPal         Pending
6    100          200           Cash       Delivered
7     60           60    Credit Card        Canceled
8     25          100         PayPal       Delivered
9    200          200           Cash         Pending

In [ ]:
print(df.head())  # View first 5 rows
print(df.info())  # Summary of data types & missing values
print(df.describe())  # Summary statistics

   Order_ID        Date  Customer_ID     Category     Product  Quantity  \
0       101  2024-03-01            1  Electronics      Laptop         1
1       102  2024-03-02            2     Clothing     T-Shirt         2
2       103  2024-03-03            3  Electronics  Smartphone         1
3       104  2024-03-04            4         Home        Sofa         1
4       105  2024-03-05            5     Clothing       Jeans         3

   Price  Total_Sales Payment_Method Delivery_Status
0    800          800    Credit Card       Delivered
1     20           40         PayPal         Pending
2    500          500    Credit Card       Delivered
3    300          300           Cash        Canceled
4     40          120    Credit Card       Delivered
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         10 non-null     int64
 1   Date             10 non-null     object
 2   Customer_ID      10 non-null     int64
 3   Category         10 non-null     object
 4   Product          10 non-null     object
 5   Quantity         10 non-null     int64
 6   Price            10 non-null     int64
 7   Total_Sales      10 non-null     int64
 8   Payment_Method   10 non-null     object
 9   Delivery_Status  10 non-null     object
dtypes: int64(5), object(5)
memory usage: 932.0+ bytes
None
        Order_ID  Customer_ID  Quantity       Price  Total_Sales
count   10.00000     10.00000  10.00000   10.000000    10.000000
mean   105.50000      5.50000   1.70000  219.500000   247.000000
std      3.02765      3.02765   1.05935  253.184715   236.175547
min    101.00000      1.00000   1.00000   20.000000    40.000000
25%    103.25000      3.25000   1.00000   45.000000   105.000000
50%    105.50000      5.50000   1.00000  125.000000   175.000000
75%    107.75000      7.75000   2.00000  275.000000   275.000000
max    110.00000     10.00000   4.00000  800.000000   800.000000

In [ ]:
df[['Order_ID', 'Product', 'Total_Sales']]

   Order_ID     Product  Total_Sales
0       101      Laptop          800
1       102     T-Shirt           40
2       103  Smartphone          500
3       104        Sofa          300
4       105       Jeans          120
5       106       Table          150
6       107  Headphones          200
7       108      Jacket           60
8       109        Lamp          100
9       110  Smartwatch          200

In [ ]:
df[df['Total_Sales']>100]

,Order_ID,Date,Customer_ID,Category,Product,Quantity,Price,Total_Sales,Payment_Method,Delivery_Status
0,101,2024-03-01,1,Electronics,Laptop,1,800,800,Credit Card,Delivered
2,103,2024-03-03,3,Electronics,Smartphone,1,500,500,Credit Card,Delivered
3,104,2024-03-04,4,Home,Sofa,1,300,300,Cash,Canceled
4,105,2024-03-05,5,Clothing,Jeans,3,40,120,Credit Card,Delivered
5,106,2024-03-06,6,Home,Table,1,150,150,PayPal,Pending
6,107,2024-03-07,7,Electronics,Headphones,2,100,200,Cash,Delivered
9,110,2024-03-10,10,Electronics,Smartwatch,1,200,200,Cash,Pending

In [ ]:
df[df['Delivery_Status']== 'pending']

Empty DataFrame
Columns: [Order_ID, Date, Customer_ID, Category, Product, Quantity, Price, Total_Sales, Payment_Method, Delivery_Status]
Index: []

In [ ]:
df.isnull().sum()

Order_ID           0
Date               0
Customer_ID        0
Category           0
Product            0
Quantity           0
Price              0
Total_Sales        0
Payment_Method     0
Delivery_Status    0
dtype: int64

In [ ]:
df.fillna(value={"Delivery_Status": "Unknown"},inplace= True)

In [ ]:
df.sort_values(by="Total_Sales",ascending=False)

,Order_ID,Date,Customer_ID,Category,Product,Quantity,Price,Total_Sales,Payment_Method,Delivery_Status
0,101,2024-03-01,1,Electronics,Laptop,1,800,800,Credit Card,Delivered
2,103,2024-03-03,3,Electronics,Smartphone,1,500,500,Credit Card,Delivered
3,104,2024-03-04,4,Home,Sofa,1,300,300,Cash,Canceled
6,107,2024-03-07,7,Electronics,Headphones,2,100,200,Cash,Delivered
9,110,2024-03-10,10,Electronics,Smartwatch,1,200,200,Cash,Pending
5,106,2024-03-06,6,Home,Table,1,150,150,PayPal,Pending
4,105,2024-03-05,5,Clothing,Jeans,3,40,120,Credit Card,Delivered
8,109,2024-03-09,9,Home,Lamp,4,25,100,PayPal,Delivered
7,108,2024-03-08,8,Clothing,Jacket,1,60,60,Credit Card,Canceled
1,102,2024-03-02,2,Clothing,T-Shirt,2,20,40,PayPal,Pending

In [ ]:
df.groupby('Category')['Total_Sales'].sum()

Category
Clothing        220
Electronics    1700
Home            550
Name: Total_Sales, dtype: int64

In [ ]:
df.rename(columns={"Total_Sales":"Revenue"},inplace=True)

In [ ]:
df.groupby('Category')['Revenue'].sum()

Category
Clothing        220
Electronics    1700
Home            550
Name: Revenue, dtype: int64

In [ ]:
df["Date"] = pd.to_datetime(df["Date"])

In [ ]:
df["Weekday"] = df["Date"].dt.day_name()  # Extracts the day of the week
df["Is_Weekend"] = df["Weekday"].isin(["Saturday", "Sunday"]).astype(int)  # Weekend flag (1/0)

In [ ]:
df["High_Value_Order"] = (df["Revenue"] > 500).astype(int)  # Orders above 500 # Changed 'Total_Sales' to 'Revenue'
df["Total_Orders_Per_Customer"] = df.groupby("Customer_ID")["Order_ID"].transform("count")  # Orders per customer

In [ ]:
# 3 Payment & Delivery Features
df["Payment_Type"] = df["Payment_Method"].apply(lambda x: "Prepaid" if x in ["Credit Card", "PayPal"] else "Postpaid")
df["Delivery_Completed"] = (df["Delivery_Status"] == "Delivered").astype(int)  # 1 if delivered, else 0

In [ ]:
# Save the cleaned and engineered dataset
df.to_csv("ecommerce_sales_engineered.csv", index=False)

In [ ]:
print('ecommerce_sales_engineered.csv')

ecommerce_sales_engineered.csv